<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
          http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd">
	<!-- 如下实现是通过线程池执行的 -->
	<task:executor id="executor" pool-size="10" />
	<task:scheduler id="scheduler" pool-size="10" />
	<task:annotation-driven scheduler="scheduler" executor="executor" proxy-target-class="true" />

   	<task:scheduled-tasks scheduler="scheduler">  
<!--  	<task:scheduled ref="busiRun" method="test1" initial-delay="10000" fixed-rate="60000" /> -->
<!--   	<task:scheduled ref="busiRun" method="test2" fixed-rate="5000" />   -->
<!--  	<task:scheduled ref="busiRun" method="test1" fixed-delay="60000" />  -->
<!--    <task:scheduled ref="busiRun" method="test1" cron="0 0 0,6,12,18 * * ? " /> -->
<!--    <task:scheduled ref="busiRun" method="test2" cron="0 30 06 * * ?" />-->

<task:scheduled ref="busiRun"  method="test2" initial-delay="30000" fixed-delay="30000" /> 
   	
  	</task:scheduled-tasks>  
</beans>