<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/vue.js"></script>
    <style>
        table {

        }
    </style>
</head>
<body>
<div id="table">
    <button @click="addP({name: '张三丰', age: 18})">添加</button>
    <table>
        <thead>
        <th>姓名</th>
        <th>年龄</th>
        <th>操作</th>
        </thead>
        <tbody v-if="persons.length">
        <tr v-for="(p, index) in persons" :key="index">
            <td>{{p.name}}</td>
            <td>{{p.age}}</td>
            <td>
                <button @click="deleteP(index)">删除</button>
                <button @click="updateP(index, {name:'Cat', age: 16})">更新</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    const vm = new Vue({
        el: '#table',
        data: {
            persons: [
                {name: 'Tom', age: 11},
                {name: 'Jack', age: 12},
                {name: 'Mali', age: 13}
            ]
        },
        methods: {
            deleteP: function (index) {
                this.persons.splice(index, 1) // 调用了不是原生数组的splice(), 而是一个变异(重写)方法
                // 1. 调用原生的数组的对应方法
                // 2. 更新界面
            },
            updateP: function (index, value) {
                console.log('updateP', index, newP)
                // this.persons[index] = newP  // vue根本就不知道
                this.persons.splice(index, 1, newP)
                // this.persons = []
            },
            addP: function (newP) {
                this.persons.push(newP)
            }
        }
    });
</script>
</body>
</html>
